/* montserrat-regular - latin [Google Font: Self Hosted]*/
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("fonts/montserrat-v25-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
       url("fonts/montserrat-v25-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("fonts/montserrat-v25-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
       url("fonts/montserrat-v25-latin-regular.woff") format("woff"), /* Modern Browsers */
       url("fonts/montserrat-v25-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
       url("fonts/montserrat-v25-latin-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}



* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #1f282d;
  /* #343434*/
  font-weight: 400;
  color: #fff;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding-top: 9px;

  display: flex;
  justify-content: space-between;
  min-height: 10vh;
  background-color: #1f282d;
  /* or use #5d4954*/
  z-index: 10;
}

.logo a {
  position: fixed;
  padding-left: 35px;
  padding-top: 5px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: 200;
}

.brand_arch {
  color: goldenrod;
  font-size: 12px;
  position: fixed;
  left: 60px;
  top: 37px;
}

.dropbtn {
  background-color: #1f282d;
  color: white;
  padding: 1px;
  font-size: 14px;
  border: none;
  cursor: grab;
}

.dropdown {
  background-color: #1f282d;
  display: inline-block;
}

.dropdown-content {
  padding-top: 20px;
  display: none;
  position: absolute;
  background-color: #1f282d;
  min-width: 130px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #354852;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #354852;
}

.pages {
  padding-top: 8px;
  font-size: 14px;
  position: fixed;
  right: 100px;
  z-index: 5;
}

.pages a {
  text-decoration: none;
  color: skyblue;
  z-index: 5;
}

@media (min-width: 320px) and (max-width: 999px) {
  .pages {
    position: fixed;
    right: 80px;
    padding-top: 10px;
    /* 3px in case get_verified is displayed */
  }
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 16px;
  right: 30px;
  width: 26px;
  height: 26px;
  cursor: grab;
  z-index: 1;
  padding-top: 8px;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #ede3e3;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: absolute;
  top: 8vh;
  left: -100%;
  width: 200px;
  height: min-height;
  /*100% for viewport height*/
  margin: 10px;
  padding: 20px 0px;
  background-color: #202b31;

  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
  border-radius: 0px 17px 27px 0px;
  z-index: 3;
}

.menu__box li {
  list-style: none;
}

.menu__item {
  display: block;
  padding: 8px 30px;
  color: #ede3e3;
  letter-spacing: 3px;
  font-size: 16px;
  line-height: 1;
  font-weight: 100;
  text-decoration: none;
  transition-duration: 0.25s;
}

#menu1 {
  margin-bottom: 80px;
}

.menu__item:hover {
  background-color: #354852;
  color: #ffffff;
}

.foo__item {
  display: block;
  padding: 8px 30px;
  color: #ede3e3;
  letter-spacing: 3px;
  font-size: 16px;
  line-height: 1;
  font-weight: 100;
  text-decoration: none;
}

.foo__item:hover {
  background-color: #354852;
  color: #ffffff;
}

/****  Nav Menu Ends Here ****/

/****  Footer Menu Begins Here ****/

.footer a,
.footer p {
  text-decoration: none;
  color: rgb(151, 149, 250);
  letter-spacing: 3px;
  font-size: 12px;
  font-weight: 200;
}

.footer {
  text-align: center;
  position: relative;
  left: 0;
  z-index: 1;
  right: 0;
  bottom: 1vh;
}

#FooterLinks {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  /* Adjusted height for the main section */
}

.left-section {
  flex: 1;
  padding: 20px;
}

.right-section {
  flex: 1;
  padding: 20px;
  text-align: right;
  /* Align content to the right */
}

/* .left-section .search-form {
  
}*/

.left-section h1 {
  font-size: 3.5rem;
  font-weight: normal;
  margin-bottom: 20px;
}

.left-section p {
  margin: 10px 0;
  font-weight: regular;
  font-size: 1.2rem;
}

.left-section form {
  display: flex;
  align-items: left;
  margin-top: 10px;
}

.left-section input[type="text"] {
  padding: 12px;
  font-size: 1rem;
  border: 2px solid #767676;
  border-radius: 5px 2px 2px 5px;
  width: 250px;
}

.left-section button {
  padding: 12px 24px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 2px 5px 5px 2px;
  cursor: pointer;
  max-width: 200px;
}

.left-section button:hover {
  background-color: #0056b3;
}

#verification-msg {
  color: #9d9696;
  font-size: 15px;
  margin: 5px;
  margin-top: 20px;
}

.right-section .content {
  text-align: right;
}

.right-section h2 {
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 20px;
}

.right-section p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
  font-weight: regular;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1rem;
  background-color: #28a745;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #218838;
}

.second-section {
  background-color: #000;
  padding: 50px 0;
  text-align: center;
}

.second-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.second-section .left-section {
  flex: 1;
  text-align: left;
  padding: 20px;
}

.second-section .left-section h2 {
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 20px;
  color: #fff;
}

.second-section .left-section p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.second-section .left-section .btn {
  margin-top: 20px;
}

.second-section .right-section {
  flex: 1;
  padding: 20px;
  text-align: right;
  /* Align content to the right */
}

.second-section .features {
  text-align: left;
  background-color: #1f282d;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  /* Adding box shadow */
}

.second-section .features h2 {
  font-size: 3rem;
  font-weight: normal;
  color: #fff;
  margin-bottom: 20px;
}

.second-section .features ul {
  list-style-type: none;
  padding: 0;
}

.second-section .features ul li {
  font-size: 1.2rem;
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px;
  color: #fff;
}

.rotate-section {
  max-height: 300px;
  color: #fff;
}

.rotate-section h3 {
  font-size: 24px;

  font-weight: normal;
}

.rotate-text {
  font-size: 4rem;
  align-items: center;
  justify-content: center;
  margin: 20px 30px 30px 30px;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  border: 0.5px #767676 solid;
  box-shadow: 2px 2px 4px 1px #767676;
}

.rotate-text span {
  font-size: 5rem;
  font-weight: regular;

  white-space: nowrap;
  /* Prevent text from wrapping */
}

.rotate-text p {
  color: goldenrod;
}

.faq-section {
  background-color: #1f282d;
  color: #fff;
  text-align: left;
  padding: 50px 0;
  margin: 0 7px;
}

.faq-container {
  max-width: 600px;
  margin: 50px auto;
  border-radius: 5px;
  border: 0.5px #767676 solid;
  box-shadow: 0 2px 4px #767676;
  /* Slightly darker shadow */
  padding: 20px;
}

.faq-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #f1c40f;
  /* Header color */
}

.faq-section a {
  color: skyblue;
  text-decoration: none;
}

.faq-section details {
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;

  padding: 10px;
}

.faq-section summary {
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  outline: none;
  color: #ede3e3;
  /* Summary text color */
}

.faq-section details[open] summary {
  color: #767676;
  /* Summary text color when open */
}

.faq-section details p {
  margin: 10px 0;
  margin-left: 20px;
  padding-left: 15px;
  justify-content: space-around;
  color: #fff;
  line-height:1.6em;
  /* Text color for paragraphs */
}

.faq-section ul{
  margin:0 60px;
  line-height:1.6em;
}

@media (max-width: 920px) {
  .container {
    flex-direction: column;
    height: auto;
  }

  .main-section {
    margin-top: 15vh;
    margin-bottom: 10vh;
  }

  .left-section,
  .right-section {
    width: 100%;
    padding: 20px;
  }

  .left-section {
    text-align: center;
  }

  .btn {
    margin-top: 20px;
  }

  .left-section h1 {
    margin-top: 30px;
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  .left-section p {
    font-size: 1rem;
    margin-top: 20px;
  }

  .left-section form {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 100%;
  }

  .left-section input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
  }

  .left-section button {
    margin-left: 0;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
  }

  .main-section .btn {
    display: none;
  }

  #verification-msg {
    color: #9d9696;
    font-size: 15px;
    margin: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
  }

  .second-section .left-section h2 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  .second-section .left-section p {
    font-size: 1rem;
  }

  .second-section .features {
    text-align: center;
    padding: 20px;
  }

  .second-section .features h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  .second-section .features ul li {
    text-align: left;
    padding-left: 0;
  }

  .second-section .right-section {
    text-align: left;
    /* Adjust alignment for mobile screens */
    padding-top: 20px;
    /* Add space at the top */
  }

  .rotate-text h3 {
    font-size: 1.5rem;
  }

  .rotate-text p {
    font-size: 1.5rem;
    text-align: center;
  }
}

#compatible {
  font-size: 11px;
  color: white;
}

#donate_box {
  position: absolute;
  /*top:90vh;*/
  right: 1.5vw;
  z-index: 2;
}

#donate {
  position: relative;
  bottom: 2vh;
  background-color: #316e7d;
  /*   #FDFF8F; */
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  border: solid white;
  border-width: 1px;
}

#donate a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

/* Typeahead Starts */
.main_container {
  text-align: center;
  background-color: #1f282d;
  margin-top: 10vh;
  color: #a2fb15;
  z-index: -1;
}

@media (min-width: 320px) and (max-width: 999px) {
  .main_container h3 {
    font-size: 0.8em;
  }

  .hero {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.searchterm {
  margin: 5px 8px 5px 8px;
  padding: 8px;
  width: 100%;
  min-width: 300px;
  text-align: left;
  color: rgb(234, 250, 9);

  background-color: #333333;
  font-size: 12px;
  z-index: 2;
}

::placeholder {
  color: rgb(177, 140, 102);
  font-size: 11px;
}

/* override style for list of suggestions */
.typeahead-standalone.typeahead-sgst .tt-list {
  font-size: 8px;
  background: #1f282d;
  color: goldenrod;
  border: 1px solid #6d6b6b;
  border-radius: 4px;
  /* adds scrollbar when necessary */
  max-height: 400px;
  overflow: auto;
  margin: 5px 8px 5px 8px;
  z-index: 2;
}

.typeahead-standalone.typeahead-sgst .tt-hint {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 8px;
  padding: 15px 15px;

  /* text-align:left; */

  font-size: 12px;

  color: white;
  background-color: #1f282d;
  opacity: 0.2;
  display: none;
}

/* override style for all templates */
.typeahead-standalone.typeahead-sgst .tt-list div[class^="tt-"] {
  padding: 1px;
}

/* single suggestion */
.typeahead-standalone.typeahead-sgst .tt-list .tt-suggestion {
  border-bottom: 1px solid #3c3838;
}

/* single selected suggestion and single suggestion on hover */
.typeahead-standalone.typeahead-sgst .tt-list .tt-suggestion:hover,
.typeahead-standalone.typeahead-sgst .tt-list .tt-suggestion.tt-selected {
  color: yellow;
  background-color: black;
}

/* style highlight */
.typeahead-standalone .tt-list .tt-suggestion .tt-highlight {
  color: #fff;
  /*#dfb014;*/
}

/* style single suggestion template */
.typeahead-standalone.typeahead-sgst .single-item {
  font-size: 8px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 5px;
}

/* style header template and notFound template */
.typeahead-standalone .tt-header,
.typeahead-standalone .tt-notFound,
.typeahead-standalone .tt-notFound a {
  text-align: center;

  font-size: 12px;
  /*text-transform: uppercase;*/
  color: #ffffff;
}

.typeahead-standalone .tt-footer,
.typeahead-standalone .tt-footer a {
  text-align: right;
  font-size: 12px;
  /*text-transform: uppercase;*/
  color: white;
  text-decoration: none;
}

.single-item .company_name {
  font-size: 14px;
  font-weight: bold;
  display: -webkit-inline-box;
  /*-webkit-line-clamp: 2;*/
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  text-align: left;
}

.single-item .company_type {
  margin-top: 1px;
  color: #fff;
  font-size: 10px;
}

.single-item .badge {
  padding-top: 10px;
  height: 24px;
  width: 24px;
}

.single-item .propic {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.details {
  margin-left: 10px;
}

@media (min-width: 320px) and (max-width: 520px) {
  #donate_box {
    display: none;
  }

  .searchterm {
    width: 100%;
  }
}

@media (min-width: 521px) and (max-width: 900px) {
  .searchterm {
    min-width: 350px;
  }
}
